<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if page_title}}{{page_title}}{{else}}Prochains passages des lignes de métro, tram et bus TCL à LYON{{/if}}</title>
    <meta name="description" content="{{#if page_description}}{{page_description}}{{else}}Trouvez le prochain passage d'un bus, métro, tramway TCL à LYON.{{/if}}">
    <meta name="keywords" content="{{keywords}}"/>
    <meta http-equiv="Cache-control" content="public">
    <link rel="canonical" href="{{canonical}}">
    <link rel="stylesheet" type="text/css" href="/css/ubuntu_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="fa fa-subway"></i> Prochains passages TCL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{#if insearch}}
                <div class="col-sm-5 pull-left img-resized-tram-metro" style="padding-top:13px;">
                    <a href="/line/301A" title="Passages Métro A">
                        <img src="/img/A.png" alt="Ligne Métro A">
                    </a>
                    <a href="/line/302A" title="Passages Métro B">
                        <img src="/img/B.png" alt="Ligne Métro B">
                    </a>
                    <a href="/line/303" title="Passages Métro C">
                        <img src="/img/C.png" alt="Ligne Métro C">
                    </a>
                    <a href="/line/304" title="Passages Métro D">
                        <img src="/img/D.png" alt="Ligne Métro D">
                    </a>
                    <a href="/line/T1A" title="Passages Tram T1">
                        <img src="/img/T1.png" alt="Ligne Tram T1">
                    </a>
                    <a href="/line/T2" title="Passages Tram T2">
                        <img src="/img/T2.png" alt="Ligne Tram T2">
                    </a>
                    <a href="/line/T3" title="Passages Tram T3">
                        <img src="/img/T3.png" alt="Ligne Tram T3">
                    </a>
                    <a href="/line/T4A" title="Passages Tram T4">
                        <img src="/img/T4.png" alt="Ligne Tram T4">
                    </a>
                    <a href="/line/T5" title="Passages Tram T5">
                        <img src="/img/T5.png" alt="Ligne Tram T5">
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" action="/search/stop" method="POST" class="form-inline">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>

                            <div class="form-group">
                                <input type="text" class="form-control" id="keyword" name="keyword"
                                       placeholder="Ex: Gare Part-Dieu" required>
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Trouver</button>
                            </span>
                        </div>
                    </form>
                </div>

            {{else}}

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/alerts" title="Alertes traffic TCL"><i class="fa fa-bell"></i> Alertes Traffic</a></li>
                </ul>

            {{/if}}
        </div>
    </div>
</nav>

<div id="wrap">
    <div id="main" class="container clear-top">
        {{{ body }}}
    </div>
</div>


<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="fb-like" data-href="http://lyontcl.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-12">
                <p>Développé par <a href="http://alexandrenguyen.fr" title="Alexandre Nguyen">Alexandre Nguyen</a> avec <a
                        href="https://facebook.github.io/react" rel="nofollow">ReactJS.</a>

                <p>Toutes les données en relation avec TCL sont la propriété de la plateforme data du grand Lyon. <a
                        href="http://data.grandlyon.com/" rel="nofollow">data.grandlyon.com</a>.</p>
            </div>
        </div>
    </div>
</footer>

<script src="/bower_components/bootflat/js/jquery-1.10.1.min.js"></script>
<script src="/bower_components/bootflat/js/bootstrap.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61469455-1', 'auto');
    ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1411359452474265";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>